.div-tabela {
    overflow-x: auto;
  }
  table tbody tr {
    td:nth-last-child(1),
    td:nth-last-child(2) {
        text-align: center
    }
  }
  .info-modal {
    height: 1000px;
  }
  .card-content-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

@keyframes bounce-in {
  0% {
      top: -5000px;
      //transform: scale(0);
  }
  50% {
      //transform: scale(1.1);
  }
  100% {
      top: 0;
      //transform: scale(1);
  }
}

.modal-transition {
    transition: all ease 0.3s;
}

.modaltransition-enter-active {
    transition: all ease 3s;
      //animation: bounce-in .3s;
      opacity: 1;
}
.modaltransition-exit-active {
    transition: all ease 3s;
      //animation: bounce-in .3s reverse;
      opacity: 0;
}